# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\webroot\simple_function_include\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
